<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itx.mapper.SpReport2Mapper">

    <resultMap id="BaseResultMap" type="com.itx.pojo.SpReport2">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="rp2Page" column="rp2_page" jdbcType="VARCHAR"/>
            <result property="rp2Count" column="rp2_count" jdbcType="INTEGER"/>
            <result property="rp2Date" column="rp2_date" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,rp2_page,rp2_count,
        rp2_date
    </sql>
</mapper>
